duration={{ durationInMinutes }}
throughput={{ throughput }}
rampUpUsers={{ rampUpUsers }}
rampUpDuration={{ rampUpDuration }}
maxResponseTime={{ maxResponseTime }}
percentSuccessulRequest=99
loadBalancer=http://{{ load_balancer }}